body {
    margin: 0;
    background: #333;
    color: #ccc;
    font-family: AktivGroteskStd, sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

a {
    color: #aaa;
}

#content {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 30px;
    box-sizing: border-box;
    background: #222;
    border: 1px solid #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    overflow: hidden;
}

#header {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 30px;
    font-weight: 100;
}

.section_header {
    font-size: 25px;
    margin-bottom: 25px;
    color: #669199;
    cursor: pointer;
}

.subscript {
    font-size: 12px;
}

.emphasis {
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
}

.coding_area {
    width: 100%;
}

.CodeMirror {
    border: 1px solid #555;
}

.coding_buttons {
    text-align: right;
}

.coding_button {
    display: inline-block;
    color: #669199;
    border: 1px solid #669199;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}

.run_program {
    color: #0a0;
    border: 1px solid #0a0;
    margin-bottom: 5px;
    margin-left: auto;
}

.transition {
    transition: 0.5s;
}

.hidden {
    opacity: 0;
}

#exceptions_reference_filter {
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    background: #333;
    border: 1px solid #aaa;
    font-size: 14px;
    color: #fff;
    font-family: monospace;
}

#exceptions_reference {
    width: 100%;
}

#exceptions_reference td {
    padding: 10px;
    vertical-align: top;
}

#exceptions_reference tr:nth-child(odd) {
    background: #3a3a3a;
}

#exceptions_reference tr:nth-child(even) {
    background: #333;
}

#exceptions_reference tr td:nth-child(1) {
    min-width: 125px;
    font-family: monospace;
}

#exceptions_reference tr td:nth-child(3) {
    min-width: 150px;
    max-width: 330px;
    padding: 0;
}

.exceptions_reference_header {
    background: #666;
    color: #000;
    font-family: AktivGroteskStd, sans-serif !important;
    vertical-align: middle !important;
    padding: 10px !important;
}

@media screen and (max-width: 800px) {
    #exceptions_reference tr td:nth-child(3) {
        display: none;
    }
}

@media print {
    body {
        background: #fff;
        color: #000;
        font-size: 12px;
    }

    #header {
        margin: 0;
        font-size: 14px;
    }

    .section_header {
        font-size: 16px;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .page_break {
        page-break-before: always;
    }

    .section {
        border: none;
        padding: 5px;
        height: auto !important;
    }

    .coding_button,
    .output_area,
    .cm-s-output {
        display: None;
    }

    .cm-s-lesser-dark {
        height: auto !important;
    }

    * {
        text-shadow: None !important;
    }
}